body{
    background-color: rgb(165, 218, 218);
}
h1{
    text-align: center;
    color: rgb(228, 23, 40);
}
.numbers{
    width: 20%;
    height: 5rem;
    display: flex;
    margin-top: 1%;
    margin-left: 40%;
    font-size: 3rem;
    border-radius: 30px;
}    
.one{
    background-color: green;
}
.two{
    background-color: purple;
    color: white;
}
.three{
    background-color: grey;
}
select{
    margin-left: 40%;
    height: 5rem;
    width: 20%;
    text-align: center;
    font-weight: bold;
    background-color: brown;
    font-size: 2rem;
    color: white;
    
}
.animal{
    height: 2 rem;
    margin-top: 20px;
}
.message{
    display: none;
    height: 30%;
    width: 30%;
    margin: 30px;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    border-radius:20px; 
}
.message__one{
    bottom: 0;
    background-color: green;
    left: 0; 
    display: flex;
}
.message__two{
    top: 0;
    background-color: purple;
    right: 0;
    display: flex;
    color: white; 
}
.message__three{
    top: 0;
    background-color: gray;
    right: 0;
    display: flex;
    color: black; 
}
