body{
    background-color: rgb(165, 218, 218);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: rgb(228, 23, 40);
}
.numbers{
    width: 20%;
    height: 5rem;
    display: flex;
    margin-top: 1%;
    font-size: 3rem;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
} 
    
.numbers__one{
    background-color: green;
}
.numbers__two{
    background-color: purple;
    color: white;
}
.numbers__three{
    background-color: grey;
}
select{
    height: 5rem;
    width: 20%;
    text-align: center;
    font-weight: bold;
    background-color: brown;
    font-size: 2rem;
    color: white;
    margin-top: 3%;
}
div{
    align-items: center;
    text-align: center;
}
.message__1{
    background-color: green;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 10px;
    bottom: 10px;
    height: 30%;
    width: 30%;
    font-size: 3rem;
    border-radius:20px; 
}
.message__2{
    background-color: purple;
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    height: 30%;
    width: 30%;
    font-size: 3rem;
    border-radius:20px; 
}
.message__3{
    background-color: grey;
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    height: 30%;
    width: 30%;
    font-size: 3rem;
    border-radius:20px; 
} 
